* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}

html {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-y: auto;
    overflow-x: hidden
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic
}

body {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-weight: 400;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    background: #fff;
    -webkit-font-smoothing: subpixel-antialiased
}

.container {
    width: 30rem;
    margin-left: auto;
    margin-right: auto
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500
}

h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small {
    color: #888;
    display: inline-block;
    font-weight: 400
}

h1 {
    font-size: 48px;
    line-height: 52.8px;
    font-size: 3rem;
    line-height: 3.3rem;
    margin-bottom: 0.8rem
}

h1 small {
    font-size: 32px;
    line-height: 41.6px;
    font-size: 2rem;
    line-height: 2.6rem;
    position: relative;
    top: -0.4rem
}

h2 {
    font-size: 41.6px;
    line-height: 49.088px;
    font-size: 2.6rem;
    line-height: 3.068rem;
    margin-bottom: 0.7rem
}

h2 small {
    font-size: 28px;
    line-height: 37.8px;
    font-size: 1.75rem;
    line-height: 2.3625rem;
    position: relative;
    top: -0.35rem
}

h3 {
    font-size: 35.2px;
    line-height: 44.352px;
    font-size: 2.2rem;
    line-height: 2.772rem;
    margin-bottom: 0.6rem
}

h3 small {
    font-size: 24px;
    line-height: 33.6px;
    font-size: 1.5rem;
    line-height: 2.1rem;
    position: relative;
    top: -0.3rem
}

h4 {
    font-size: 28.8px;
    line-height: 38.592px;
    font-size: 1.8rem;
    line-height: 2.412rem;
    margin-bottom: 0.5rem
}

h4 small {
    font-size: 20px;
    line-height: 29px;
    font-size: 1.25rem;
    line-height: 1.8125rem;
    position: relative;
    top: -0.2rem
}

h5 {
    font-size: 22.4px;
    line-height: 31.808px;
    font-size: 1.4rem;
    line-height: 1.988rem;
    margin-bottom: 0.4rem
}

h5 small {
    font-size: 16px;
    line-height: 24px;
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    top: -0.2rem
}

h6 {
    font-size: 16px;
    line-height: 24px;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.3rem
}

h6 small {
    font-size: 12.8px;
    line-height: 19.712px;
    font-size: 0.8rem;
    line-height: 1.232rem;
    position: relative;
    top: -0.2rem
}

/*border сервисов*/
input[type='text'], input[type='password'], input[type='email'], input[type='number'], textarea, select, .chzn-container-single .chzn-single {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    display: inline-block;
    border: 1px solid #bbb;
    padding: 1px 10px 0;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 40px
}

/*цвет текста сервисов*/
input[type='text'], input[type='password'], input[type='email'], textarea, .chzn-container-single .chzn-single {
    color: #666
}

.chzn-container-single .chzn-single {
    line-height: 40px
}

/*ширина сервисов*/
input:not([type='submit']), textarea, select {
    width: 45%
}

.font-small, small {
    font-size: 14px;
    line-height: 21.35px;
    font-size: 0.875rem;
    line-height: 1.334375rem
}

@media screen and (max-width: 650px) {
    .font-small, small {
        font-size: 12px;
        line-height: 18.6px;
        font-size: 0.75rem;
        line-height: 1.1625rem
    }
}

.font-regular {
    font-size: 16px;
    line-height: 24px;
    font-size: 1rem;
    line-height: 1.5rem
}

@media screen and (max-width: 650px) {
    .font-regular {
        font-size: 14px;
        line-height: 21.35px;
        font-size: 0.875rem;
        line-height: 1.334375rem
    }
}

.font-large {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    font-size: 1.25rem;
    line-height: 1.8125rem
}

@media screen and (max-width: 650px) {
    .font-large {
        font-size: 18px;
        line-height: 26.55px;
        font-size: 1.125rem;
        line-height: 1.659375rem
    }
}

/*powered by - центровка*/
.page-footer {
    padding-top: 0.75rem;
    margin: 70px 0;
    border-style: solid;
    border-top-width: 1px;
    overflow: hidden
}

/*powered by - центровка по right*/
.page-footer > span {
    float: right
}

/*logo - центровка по вертикали*/
.layout-content.status .masthead-container .masthead {
    margin-bottom: 70px
}


/*logo - размер */
.layout-content.status .masthead-container.basic .masthead .logo-container {
    float: left;
    max-width: 25%
}

/*обводка для метрик label, тени текста и border */
.layout-content.status.status-index .page-status {
    font-weight: 500;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
    padding: 0.75rem 1.25rem
}

/*цвет для метрик label */
.layout-content.status.status-index .page-status .status {
    color: #fff;
    position: relative;
    top: 2px
}


/*обводка для метрик border */

@media screen and (max-width: 700px) {
    .layout-content.status.status-index .components-section .components-container.three-columns + .component-statuses-legend {
        display: none
    }
}

.layout-content.status.status-index .custom-metrics-container .metrics-container .metric {
    margin-top: 1.5rem;
    border-width: 1px;
    border-style: solid;
    padding: 1.5rem 1.5rem 1.25rem
}

/*кнопки день неделя на одной строке */
.layout-content.status.status-index .custom-metrics-container .metrics-container .metric .metric-meta {
    margin-bottom: 1rem;
    padding-top: 0px;
    text-align: left;
    overflow: hidden
}

.layout-content.status.status-index .custom-metrics-container .metrics-container .metric .metric-meta .metric-name {
    float: left
}

.layout-content.status.status-index .custom-metrics-container .metrics-container .metric .metric-meta .metric-name .tooltip-base {
    margin-left: 3px;
    top: -2px
}

.layout-content.status.status-index .custom-metrics-container .metrics-container .metric .metric-meta .metric-average {
    float: right
}
